/* Privacy Pulse custom styles */
.home-carousel {     
  position: relative;
  background: url('../projects.jpg') center center repeat;
  background-size: cover;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}


.bar.background-image-fixed-1 {
  background: url('../tech-mouse.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.bar.background-image-fixed-2 {
  background: url('../tech-mouse.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


/* Example site test */

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}
